body {
    margin: 0;
    padding: 0;
    z-index: 1;
    overflow: hidden;
}

/* don't use vw... it's doesn't use the parent size. */
.block {
    width: 8%;
    aspect-ratio: 1 / 1;
    z-index: 2;
    position: absolute;
    /* default color */
    background-color: pink;
    opacity: 0.5;
    outline-style: solid;
    outline-color: black;
}

.pickaxe {
    width: 20%;
    aspect-ratio: 1 / 1;
    z-index: 3;
    position: absolute;
}

.tl-infobox {
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    opacity: 60%;
    z-index: 1;
}

.fps {
    color: rgb(5, 2, 5);
}

.viewport {
    width: 1280px;
    height: 720px;
    background-color: rgba(200, 200, 200, 0.6);
    position: absolute;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: turquoise;
    display: flex;
}